<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
</head>
<body>
    <%- include ("layout") %>
    <div class="container">
        <h2 class="my-4" align="center">เขียนบทความ</h2>
        <% if(locals.errors){ %>
            <ul class="alart alart-danger" role="alert">
                <% Object.values(errors).forEach(function(error){ %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>
        <form action="/post/add" method="post">
            <div class="form-group my-2">
                <label for="">หัวข้อ</label>
                <input type="text" name="title" class="form-control">
            </div>
            <% if (locals.categories) { %>
            <div class="form-group my-2">
                <label for="">หมวดหมู่</label>
                <select class="form-control"  name="category" id="">
                    <% categories.forEach(function(category){ %>
                    <option value="<%= category.name %>"> <%= category.name %> </option>
                    <% }) %> 
                </select>
            </div> 
            <% } %>
            <div class="form-group my-2">
                <label for="">เนื้อหา</label>
                <textarea name="content" id="" cols="80" rows="8"></textarea>
            </div>
            <div class="form-group my-2">
                <label for="">ภาพปก</label>
                <input type="text" name="img" class="form-control">
            </div>
            <div class="form-group my-2">
                <label for="">ผู้เขียน</label>
                <input type="text" name="author" class="form-control">
            </div>
            <input type="submit" name="" value="บันทึกข้อมูล" class="btn btn-primary">
        </form>
    </div>
    <script>
        CKEDITOR.replace('content');
    </script>
</body>
</html>